@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  height: 60px;
  color: #fff;
  margin-bottom: -60px;
  padding-top: 10px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.navbar a {
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover,
.navbar a:active {
  color: #ff9400;
}

.navbar img {
  height: 40px;
}

.hero,
.review {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/hero.jpg");
  background-position: bottom;
}

.hero .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  color: #ff9400;
}

.hero p {
  margin-bottom: 10px;
}

.main-button {
  width: 200px;
  height: 45px;
  padding: 10px;
  border: solid 2px #ff9400;
  border-radius: 8px;
  color: #ff9400;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
}

.main-button:hover {
  background-color: #ff9400;
  color: #fff;
}

.menus {
  background-color: #ecf0f1;
  padding-top: 40px;
}

.menus .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-header {
  text-transform: uppercase;
  font-family: "Moon Dance", cursive;
  font-size: 40px;
  color: #ff9400;
  font-weight: bold;
  margin-bottom: 20px;
}

.menus .content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cards {
  flex: 1;
  margin: 20px 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
  padding-bottom: 10px;
  background-color: #fff;
}

.cards:hover {
  transform: translateY(-0.5%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
}
.cards img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 10px 15px;
}

.card-header {
  font-weight: 600;
  margin-bottom: 10px;
  color: #ff9400;
}

.review {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/review.jpg");
  background-position: center;
}

.review .container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.review-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 900px;
}

.review-header,
.review-name {
  text-transform: uppercase;
  font-family: "Moon Dance", cursive;
  color: #ff9400;
  font-weight: bold;
}

.review-header {
  font-size: 30px;
}

.review-portrait {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100%;
  /* flex-shrink: 0; */
}

.order {
  height: 300px;
}

.order .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 200px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  padding: 40px;
  gap: 40px;
}

footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .hero .container {
    text-align: center;
  }

  .hero-content {
    font-size: 90%;
    align-items: center;
  }

  .menus .container {
    text-align: center;
  }

  .menu-header {
    font-size: 30px;
  }

  .menus .content {
    flex-direction: column;
    font-size: 90%;
  }

  .order-form {
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }
}
